@import './globals.css';
@import './navbar.scss';
@import './mixins.scss';
@import './slick.scss';


body {
    color: white;
    background: rgb(0, 0, 0);
    // background: rgb(2, 0, 36);
    width: 100vw;
    overflow-x: hidden;
}

.grad-overlay-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.971) 5%, rgba(255, 255, 255, 0) 80%);
}

.grad-overlay-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 4, 18, 0.891) 35%, rgba(255, 255, 255, 0) 100%);
}

.absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.absolute-center-horiz {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.flare {
    @include flare(#0008ff);
}


         
.grad-btn--yellow  {
  background-image: linear-gradient(to right, #ffde08 0%, #FFC837  51%, #ffe608  100%);
    transition: 0.5s;
    transform: scale(1);
    background-size: 200% auto;

    &:hover {
      background-position: right center; /* change direction grad */
      transform: scale(1.075);
    }
  }
         
         
.grad-btn--purple  {
    background-image: linear-gradient(to right, #DA22FF 0%, #9733EE  51%, #DA22FF  100%);
    transition: 0.5s;
    transform: scale(1);
    background-size: 200% auto;

    &:hover {
      background-position: right center; /* change direction grad */
      transform: scale(1.075);
    }
  }
         
.grad-btn--blue  {
    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    transition: 0.5s;
    transform: scale(1);
    background-size: 200% auto;

    &:hover {
      background-position: right center; /* change direction grad */
      transform: scale(1.075);
    }
  }
         
.grad-btn--green  {
    background-image: linear-gradient(to right, #FDFC47 0%, #24FE41  51%, #FDFC47  100%);
    transition: 0.5s;
    transform: scale(1);
    background-size: 200% auto;

    &:hover {
      background-position: right center; /* change direction grad */
      transform: scale(1.075);
    }
  }

.fade-line {
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, var(--accent-color), rgba(208, 208, 208, 0.06)) 1;
  }