.nav-container{
    display: grid;
    grid-template-columns:  250px auto 250px;

    > div{
        z-index: 10;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .items{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .options{
        justify-content: end;
    }

    .nav-item {
        border-bottom: 2px solid var(--hover-color);
        transition: .3s all ease-in-out;
        border-radius: 2px;
        
        &:hover {
            background-color: var(--hover-color);
            color: black;
        }
    }
}

.track-title{
    border-bottom: 2px solid var(--accent-color);

}