.textContainer{
    transition: .25s ease-in-out all;
    transform: translateX(0);
    bottom: 50px;
    left: 60px;
    opacity: 1;
    z-index: 20;
    position: absolute;
    z-index: 1;

    &.outLeft{
        transition: .25s ease-in-out all;
        transform: translateX(-50px);
        opacity: 0;
    }

    &.outRight{
        transition: .25s ease-in-out all;
        transform: translateX(50px);
        opacity: 0;
    }

    &.noTransition{
        transition: none !important;
    }

    &.waitLeft{
        pointer-events: none;
        transform: translateX(-50px);
        opacity: 0;
    }
}