.cardContainer {
    position: relative;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: auto !important;
}

.slick-slide>div {
    height: 100% !important;
}

.slick-list {
    overflow-y: visible !important;
    overflow-x: visible !important;
    z-index: 50;
  }

.slick-slide{
    cursor: pointer;
    width: auto;
    transition: all 0.2s ease-out;
    width: 500px;
}

.slick-slide:hover{
    transform: scale(107%);
    z-index: 1000;
}